body {
    font-family: "SB-Text";
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background-size: cover;
    background-position: top center;
    background-color: #161D27; /* Цвет фона шапки */
    height: 30%;
    padding: 0 0 0 0;
}
.container{
    display: flex;
    justify-content: space-between;
}
.info {
    margin: 3% 0 4% 0;
    width: 10%; /* Сделать изображение адаптивным по ширине */
    height: 10%; /* Сделать изображение адаптивным по высоте */
}
.stripe{
    height: 4px; /* Высота полоски */
    background-color: #861BE1; /* Цвет полоски */
}
.logo {
    margin: 3% 0 3% 0;
    width: 15%; /* Сделать изображение адаптивным по ширине */
    height: 15%; /* Сделать изображение адаптивным по высоте */

}
.search{
    margin: 5% 0 3% 0;
    width: 10%; /* Сделать изображение адаптивным по ширине */
    height: 10%; /* Сделать изображение адаптивным по высоте */
}

.cluster {
    text-align: center;
    border: 2px solid #333;
    padding: 20px;
}
.bukovki{
font-size: 30px;
margun-right: 5px;}
.row {
    text-align: center;
    display: flex;
    justify-content: center;
}

.seat {
    width: 35px;
    height: 35px;
    margin: 5px;
    border: 1px solid #333;
    cursor: pointer;
}

.selected {
    width: 35px;
    height: 35px;
    margin: 5px;
    background-color: #4CAF50;
    border: 1px solid #333;
    cursor: pointer;
}

.break {
    width: 35px;
    height: 35px;
    margin: 5px;
    background-color: red;
    border: 1px solid #333;
}

.selected_search {
    width: 35px;
    height: 35px;
    margin: 5px;
    background-color: yellow;
    border: 1px solid #333;
    cursor: pointer;
}
.none_seat{
    width: 35px;
    height: 35px;
    margin: 5px;
    cursor: pointer;
}
.book{
    width: 35px;
    height: 35px;
    margin: 5px;
    background-color: purple;
    border: 1px solid #333;

