<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>22</title>
</head>
<body>
    <h1>21</h1>
    <!-- создание поля с местами -->
    <div class="campus">
         {% for cluster in ["hy", "ca"] %}
            <div class="cluster">
                {% for place in range(1, 10) %}
                    <div class="row">
                        {% for row in ["a", "b", "c", "d", "f", "g", "h"] %}
                        {% set place_id = "".join([cluster ,'-' ,row , place|string]) %}
                        {% if workspace[place_id] == "empty" %}
                            <div class="seat">
                                {{ place_id }}
                            </div>
                        {% else %}
                            <div class="selected">
                                <a href="#login_place">{{ place_id }}</a>
                                {{ workspace[place_id] }}
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
